.content { margin-top: 70px; }
.headtext{
	font-weight: lighter;
	text-align: center;
	font-size: 2.35em;
	color: #fafafa;
}
.content_box{
	margin-top: 30px;
	text-align: center;
}
.content_box>ul>li>a{
	display: inline-block;
	margin: 5px;
	font-size: 1.4em;
	color: #ebebeb;
	letter-spacing: 2px; 
}