*{
	margin: 0;
	padding: 0;
}
html{
	background: url(../../img/bg.jpg) no-repeat center center;
	background-size: cover; 
	min-height:100%;
}
body{ 
	font-family:Roboto, sans-serif;
	color: #EBEBEB;
	min-height:100%; 
}
header{  }
.header_wrap{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.bigname{
	font-size: 2.2em;
	letter-spacing: 7px;
	margin-left: 20px;
}
.bigname>a { color: #E5E5E5; transition: .2s linear}
.bigname>a:hover { color: #fff; }
a {
	text-decoration: none;
}
.underline{ 
	text-decoration: none; 
	color: #EBEBEB;
	position: relative;
	transition: .3s linear;
}
.underline::before{ 
	display: block;
	position: absolute;
	content: "";
	height: 2px;
	width: 0;
	background-color: #eee;
	transition: width .3s ease-in-out, left .5s ease-in-out;
	left: 50%;
	bottom: 0;
}
.underline::after{
	display: block;
	position: absolute;
	content: "";
	height: 2px;
	width: 0;
	background-color: #eee;
	transition: width .2s ease-in-out;
	left: 50%;
	bottom: 0;
}
.underline:hover { color: #fff; }
.underline:hover::before{
	width: 50%;
	left: 0;
}
.underline:hover::after{
	width: 50%;
}
.underlineStart:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBEBEB;
    transition: width .3s ease-in-out;
}
.underlineStart:hover:after,
.underlineStart:focus:after {
    width: 100%;
}
.menu>nav{ width: 560px; margin: 10px 20px 0px 0px;}
.menu>nav>ul{ 
	list-style: none; 
	display: flex; 
	justify-content: space-between; }
.menu>nav>ul>li>a{ 
	font-size: 1.25em;  
	letter-spacing: 1px;
}
.btn{
	color: #000;
	background: #fff;
	padding: 6px 8px;
	font-size: 1.5em;
	border-radius: 1px;
	opacity: .79;
	transition: .2s linear;
}
.btn:hover{
	opacity: 1;
}
.back_wrap { 
	display: block; 
	text-align: center;
}
.back {
	margin-top: 30px;
	color:#fff; 
	font-size: 1.3em;
	display: inline-block;
}