.main {
	margin: 40px 0px 0px 20px;
}
.head_text{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.5em;
	margin-bottom: 20px;
}
.content_text{
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.2em;
}
.info_ul{
	list-style: none;

}
.info_li>p>a{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	transition: .3s linear;
}
.vk:hover{
	color: #4f99eb;
}
.inst>a:hover{
  background: linear-gradient(to right, #f30c96, #4806f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.viber:hover{
	color: #8f00ff;
}
.telegram:hover{
	color: #4bb9ff;
}
.gmail:hover{
	color: #fa132c;
}
@media screen and (max-width: 530px){
	.head_text{
		font-size: 1.9em;
	}
	.info_li>p>a{
		font-size: .6em;
	}
}