*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family:Roboto, sans-serif;
	box-sizing: border-box;
}
header{
	background: #999;
	width: 100%;
	color: #f1f1f1;
	text-align: center;
}
p, .headtext{
	text-align: center; 
}
a{
	text-decoration: none;
}
ul{
	margin-left: 20px;
}
.check_list{
	margin: 20px 0px 20px 50px;
}
.check_list>h3{
	letter-spacing: 2px;
	color: #666;
}
.check_list>ul{
	list-style: square;
}
.check_list>ul>a{
	color: #999;
	font-size: 1.4em;
}
.check_list>ul>a:hover{
	text-decoration: underline;
	list-style: circle;
}
.content{
	margin: 0% 3%;
}
.headtext{
	color: #666;
}

.photo_wrapper{
	display: flex;
	justify-content: space-between;
}
.photo_edit{
	height: 250px;
	border: 4px solid #c4a080;
	border-radius: 1px;
	transition: .35s linear;
}
.photo_edit:hover{
	transform: rotate(360deg);
	border: 0;
	border-radius: 100%;
}
