.title-site {
    background: red;
    color: #fff;
}
.news-site {
    color: #888;
}
.content-box {
    margin: 20px 0px;
}
.text-box {
    display: block;
    margin: 0 auto;
    font-size: 60px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}
.box-love {
    display: inline;
    color: #fff;
}